body {
  background:#fff;
  margin:0;
  padding:40px 20px;
  font:x-small Verdana;
  text-align:center;
  color:#333;
  font-size/* */:/**/small;
  font-size: /**/small;
  }
a:link {
  color:#008080;
  }
a:visited {
  color:#808080;
  }
a:hover {
  color:#800000;
  }
a img {
  border-width:0;
  }


/* Header
----------------------------------------------- */
#header {
  width:760px;
  margin:0 auto 10px;
  border:1px solid #ccc;
  }
#blog-title {
  margin:5px 5px 0;
  padding:20px 20px .25em;
  border:1px solid #eee;
  border-width:1px 1px 0;
  font-size:200%;
  line-height:1.2em;
  font-weight:normal;
  color:#666;
  text-transform:uppercase;
  letter-spacing:.2em;
  }
#blog-title a {
  color:#666;
  text-decoration:none;
  }
#blog-title a:hover {
  color:#c60;
  }
#description {
  margin:0 5px 5px;
  padding:0 20px 20px;
  border:1px solid #eee;
  border-width:0 1px 1px;
  max-width:800px;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#999;
  }


/* Content
----------------------------------------------- */
#content {
  width:760px;
  margin:0 auto;
  padding:0;
  text-align:left;

  }
#main {
  width:510px;
  float:left;
  }
#sidebar {
  width:210px;
  float:right;
  }


/* Headings
----------------------------------------------- */
h2 {
  margin:1.5em 0 .75em;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#999;
  }


/* Posts
----------------------------------------------- */
.date-header {
  margin:1.5em 0 .5em;
  }
.post {
  margin:.5em 0 1.5em;
  border-bottom:1px dotted #ccc;
  padding-bottom:1.5em;
  }
.post-title {
  margin:.25em 0 0;
  padding:0 0 4px;
  font-size:140%;
  font-weight:normal;
  line-height:1.4em;
  color:#800000;
  }
.post-title a, .post-title a:visited, .post-title strong {
  display:block;
  text-decoration:none;
  color:#c60;
  font-weight:normal;
  }
.post-title strong, .post-title a:hover {
  color:#333;
  }
.post div {
  margin:0 0 .75em;
  line-height:1.6em;
  }
p.post-footer {
  margin:-.25em 0 0;
  color:#ccc;
  }
.post-footer em, .comment-link {
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }
.post-footer em {
  font-style:normal;
  color:#999;
  margin-right:.6em;
  }
.comment-link {
  margin-left:.6em;
  }
.post img, .thumb img {
  padding:4px;
  border:1px solid #ddd;
  }
.post a img, .thumb a img {
  padding:4px;
  border:1px solid #008080;
  }
.post a:hover img, .thumb a:hover img {
  padding:4px;
  border:1px solid #800000;
  }
.post blockquote {
  margin:1em 20px;
  }
.post blockquote p {
  margin:.75em 0;
  }



/* Comments
----------------------------------------------- */
.commentalt {
	background-color: #CCCCCC;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}

#comments h4 {
  margin:1em 0;
  font:bold 78%/1.6em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.2em;
  color:#999;
  }
#comments h4 strong {
  font-size:130%;
  }
#comments-block {
  margin:1em 0 1.5em;
  line-height:1.6em;
  }
#comments-block dt {
  margin:.5em 0;
  }
#comments-block dd {
  margin:.25em 0 0;
  }
#comments-block dd.comment-timestamp {
  margin:-.25em 0 2em;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }
#comments-block dd p {
  margin:0 0 .75em;
  }
.deleted-comment {
  font-style:italic;
  color:gray;


  }


/* Sidebar Content
----------------------------------------------- */
#sidebar ul {
  margin:0 0 1.5em;
  padding:0 0 1.5em;
  border-bottom:1px dotted #ccc;
  list-style:none;
  }
#sidebar li {
  margin:0;
  padding:0 0 .25em 15px;
  text-indent:-15px;
  line-height:1.5em;
  }
#sidebar p {
  color:#666;
  line-height:1.5em;
  }


/* Profile
----------------------------------------------- */
#profile-container {
  margin:0 0 1.5em;
  border-bottom:1px dotted #ccc;
  padding-bottom:1.5em;
  }
.profile-datablock {
  margin:.5em 0 .5em;
  }
.profile-img {
  display:inline;
  }
.profile-img img {
  float:left;
  padding:4px;
  border:1px solid #ddd;
  margin:0 8px 3px 0;
  }
.profile-data {
  margin:0;
  font:bold 78%/1.6em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }
.profile-data strong {
  display:none;
  }
.profile-textblock {
  margin:0 0 .5em;
  }
.profile-link {
  margin:0;
  font:78%/1.4em "Trebuchet MS",Trebuchet,Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }


/* Footer
----------------------------------------------- */
#footer {
  width:760px;
  clear:both;
  margin:0 auto;
  }
#footer hr {
  display:none;
  }
#footer p {
  margin:0;

  padding-top:15px;
  font:78%/1.6em "Trebuchet MS",Trebuchet,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  }
  
/****************/
/* Added Styles */
/****************/
code, pre {
	margin: 1em 4%;
	padding: 1em;
	border: 1px solid #CCC;
	display: block;
	background: #FAFAFA;
	color: #333333;
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	line-height: 1.5em;
}

.archives {
	list-style-type: none;
}

/* Gallery Styles */

.gallery {
	height: auto;
	width: 100%;
	page-break-after: always;
	margin: 2px;
	clear: both;
	}	

div.thumb {
	margin: 2px;
	height: auto;
	float: left;
	text-align: center;
	}	
.thumb img{
	display: inline;
	margin: 4px;
	}
.thumb a:hover img {}

  
 table.tabledisplay{
	border: 1px solid #006699;
	width: 400px;
	margin-top: 4px;
	margin-bottom: 4px;
	}
table.tabledisplay td, th{
	padding: 2px;
	font-size: 10px;
	}
table.tabledisplay th{
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	}
table.tabledisplay td{
	}
	
abbr, acronym, .help {
  border-bottom: 1px dotted #333;
  cursor: help;
  }
	
.hl {
	color:black;
	background:yellow;
}